/extra
/CarND-MPC-Project-markgao/CMakeLists.txt.user
/CarND-MPC-Project-markgao/CMakeLists.txt.*
/CarND-MPC-Project-markgao/build/
/code3.4.8_mpc_to_line/CMakeLists.txt.user
/code3.4.8_mpc_to_line/CMakeLists.txt.*
/code3.4.8_mpc_to_line/build/

# Prerequisites
#*.d

# Compiled Object files
#*.slo
#*.lo
#*.o
#*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
#*.mod
#*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
#*.out
#*.app


#*.txt.user

